// SIZES
@scale: 1.414;
@site_max_width: 1900px;
@header_height: 111px;
@header_height_small: 50px;
@global_padding: 1rem * @scale;

// FONTS
@body_font_size: 1rem * @scale;
@body_font_weight: 400;
@body_font_line_height: @body_font_size * @scale;
// @import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic); // body
@body_font_stack: "Gentium Book Basic", serif;
// @import url(http://fonts.googleapis.com/css?family=Open+Sans); // header
@header_font_stack: "Open Sans";
@header_font_weight: 400;

// COLORS
@primary_color: #ec601c; //laranja
@secondary_color: #546569; //cinzento esverdeado
@tertiary_color: #64bf9e; //verde

@background_color: #fff;
@header_color: #000;
@bloco_avisos_color: @primary_color;
@bloco_noticias_color: @secondary_color;
@bloco_testemunho_color: @primary_color;
@bloco_valores_color: @secondary_color;

@link_color: @tertiary_color;
@link_hover_color: darken(@tertiary_color, 30%);
