// SIZES
@scale: 1.414;
@site_max_width: 1900px;
@header_height: 111px;
@header_height_small: 50px;
@global_padding: 1rem * @scale;

// FONTS
@body_font_size: 1.3rem;
@body_font_weight: 400;
@body_font_line_height: @body_font_size * @scale;
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300); // body
@body_font_stack: 'Open Sans Condensed', sans-serif;
// @import url(http://fonts.googleapis.com/css?family=Open+Sans); // header
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800); // header
@header_font_stack: 'Open Sans', sans-serif;
@header_font_weight: 800;

// COLORS
@primary_color: #0179AD; // azul AFSO
@secondary_color: #133D4D; // azul escuro
@tertiary_color: #FEC200; // amarelo torrad

@background_color: #fff;
@header_color: @primary_color;
@bloco_avisos_color: @secondary_color;
@bloco_noticias_color: @secondary_color;
@bloco_testemunho_color: @tertiary_color;
@bloco_valores_color: @secondary_color;

@link_color: darken(@tertiary_color, 0%);
@link_hover_color: darken(@tertiary_color, 15%);
// @link_hover_color: lighten(@secondary_color, 20%);
