{% embed 'partials/base.html.twig' %}
{% block content %}  
	<section class="page voluntario">  		
		<h1>{{ page.title }}</h1>
		<h2>{{ page.header.zona }}</h2>
	  	{% set img = page.media.images|first %}
		<img src="{{ img.resize(450, 300).url }}">
		<div class="content">
			{{ page.content }}
		</div>
    </section>		   		
{% endblock %}
{% endembed %}