{% if page.header.bloco_visivel == "true" %}
	<section class="module hero desktop">	
		{% for img in page.media.images|randomize %}
			{% if img.basename starts with 'mobile' == false %}
			<div>
				<img class="hero" src="{{ img.crop(0,0,1300,500).url }}" alt="">
			</div>
			{% endif %}			
		{% endfor %}
	</section>
	<section class="module hero mobile hidden">	
		{% for img in page.media.images|randomize %}
			{% if img.basename starts with 'mobile' == true %}
			<div>
				{# <img class="hero" src="{{ img.cropResize(600,450).url }}" alt=""> #}
				<img class="hero" src="{{ img.crop(0,0,600,450).url }}" alt="">
			</div>
			 {% endif %}
		{% endfor %}
	</section>	
{% endif %}
